# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=123456
# POSTGRES_DB=base_db
# DATABASE_URL=postgresql+asyncpg://postgres:123456@db:5432/base_db

# SECRET_KEY=AFLJsKFHHKJHhfks
# ALGORITHM=HS256

# ACCESS_TOKEN_EXPIRE_MINUTES=15
# REFRESH_TOKEN_EXPIRE_DAYS=7
